In [3]:
s1 = input("enter string")
s2 = 'Good Afternoon'
print(type(s1),type(s2))

enter stringhi
<class 'str'> <class 'str'>

In [7]:
# operators : +
print(s1 + s2) #concatenation
print(s1 * 3)#repeatation
print(s2[4])#slicing
print(s2[-1])#slicing
print(s2[2:])#start=0,stop=length of string,step=1

hiGood Afternoon
hihihi

n
od Afternoon

In [8]:
print(s2[0:14])
print(s2[:])

Good Afternoon
Good Afternoon

In [14]:
#alternate characters of string
print(s2[::2])

Go feno

In [16]:
#string palindrome
s3=input("enter string")
if s3 == s3[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter stringmadam
palindrome

In [19]:
#integer palindrome
n=int(input("enter number"))
if str(n) == str(n)[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter number121
palindrome

In [20]:
s4 = "python"
print("on" in s4)
print("xyz" in s4)
print("on" not in s4)
print("xyz" not in s4)

True
False
False
True

## built-in functions:
1. len()
2. max()
3. min()
4. str()

In [22]:
s = "hello"
s1 = "abc123"
print(len(s))
print(max(s))
print(min(s))
print(max(s1))
print(min(s1))

5
o
e
c
1

In [23]:
ord('a')

97

In [24]:
chr(97)

'a'

### built-in methods:
1. capitalize()
2. isalpha()
3. isdigit()
4. isalnum()
5. isupper()
6. islower()
7. upper()
8. lower()
9. swapcase()

In [28]:
s = "hello"
print(len(s))#function name(object name)
s = s.capitalize()#objectname.methodname()
print(s)

5
Hello

In [30]:
s1 = "hello"
s2 = "abc123"
s3 = "123"
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())
print(s3.isalpha())
print(s3.isdigit())
print(s3.isalnum())

True
False
True
False
False
True
False
True
True

In [34]:
s1 = "python"
s2 = "PYTHON"
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())
print(s1.upper())
print(s2.lower())
print(s1.swapcase())

False
True
True
False
PYTHON
python
PYTHON

In [35]:
s = "abc abc abc"
s.count("abc")

3

In [37]:
#split-->return type is list
print(s.split())
s1 = "a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [41]:
#replace --> replaces old character with new character
s = "abbc"
s =s.replace('b','z')
print(s)

azzc

In [45]:
#accept a number and remove nth position character from string
n=int(input("enter n value"))
s = input("enter string")
print(s.replace(s[n-1],"",1))

enter n value3
enter stringhello
helo

## for loop:
1. with range()
2. with iterable object

In [47]:
# print 1-n numbers on screen
n=10
for i in range(1,n+1):
    print(i,end=" ")
    
    
print()

i=1
while i<=n:
    print(i,end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [4]:
s = "python"
for i in s:
    print(i)
    
#using while loop print all characters of your string vertically
i=0
while i<len(s):
    print(s[i])
    i += 1
    
#using for loop but you should not use iterable object 
for j in range(0,len(s)):
    print(s[j])

p
y
t
h
o
n
p
y
t
h
o
n
p
y
t
h
o
n